<div class="card text-center" style="width: 30rem; margin: auto; margin-top: 10%;">
  <div class="card-header h5 text-white bg-primary">Reset Password </div>
  <div class="card-body px-6">
      <p class="card-text py-2">
          Enter your Password and we'll send you an email with instructions to reset your password.
      </p>
      <form  [formGroup]="passForm" (ngSubmit)="passUser()" class="needs-validation" novalidate>

        <!-- Old Pass -->
        <!-- <div class="form-outline mb-3">
          <show-hide-password size="lg" [btnOutline]="false">
          <input type="password" id="oldpassword" name="oldpassword" class="form-control form-control-lg"
          placeholder="Enter old password" formControlName="oldpassword" required/>
        </show-hide-password>
         <span style="color: red;" *ngIf="oldpassword && oldpassword.invalid && oldpassword.touched">Minimum eight characters, at least one letter and one number: Old Password</span><br>
         <span style="color: red;" *ngIf="o">old password & new password are same</span>
         </div> -->

      <!-- new pass -->
      <div class="form-outline mb-3">
        <show-hide-password size="lg" [btnOutline]="false">
        <input type="password" id="newpassword" name="newpassword" class="form-control form-control-lg"
        placeholder="Enter new password" formControlName="newpassword" required/>
      </show-hide-password>
       <span style="color: red;" *ngIf="newpassword && newpassword.invalid && newpassword.touched">New Password is Required</span>
       </div>
      

        <!-- consirm pass -->
        <div class="form-outline mb-3">
          <show-hide-password size="lg" [btnOutline]="false">
          <input type="password" id="confirmpassword" name="confirmpassword" class="form-control form-control-lg"
          placeholder="Enter confirm password" formControlName="confirmpassword"  required/>
        </show-hide-password>
          <span style="color: red;" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched ">Confirm Password is Required</span><br>
          <span style="color: red;" *ngIf="f">*Password Doesn't match*</span>          
        </div>


      <!-- <a href="#!" class="btn btn-primary w-100" disabled="!form.valid">Reset password</a> -->
      <input (click)="reset()" class="btn btn-primary btn-lg" type="submit" value="Reset Password"/>
      <div class="d-flex justify-content-between mt-4">
          <a class="" href="">Login</a>
          <a class="" href="register">Register</a>
      </div>
      </form>
  </div>
</div>